# config/packages/api_platform.yaml - VERSION MINIMALE
api_platform:
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']
    
    eager_loading:
        max_joins: 100
        fetch_partial: true