# config/packages/api_platform.yaml
api_platform:
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']  # Ajoutez cette ligne
    patch_formats:
        json: ['application/merge-patch+json']