# config/packages/security.yaml
security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/api/login_check
    stateless: true
    json_login:
        check_path: /api/login_check
        username_path: email    # ⚠️ CHANGEZ: username → email
        password_path: password
        success_handler: lexik_jwt_authentication.handler.authentication_success
        failure_handler: lexik_jwt_authentication.handler.authentication_failure
        api:
            pattern: ^/api/(?!login_check)
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/api/login_check, roles: PUBLIC_ACCESS }
        - { path: ^/api/users$, methods: [POST], roles: PUBLIC_ACCESS }
        - { path: ^/api/ads$, methods: [GET], roles: PUBLIC_ACCESS }